<footer>
    <div class="footer-box1">
        <h2>Inspiration for future getaways</h2>
        <div class="popular-sec">
            <div class="pop-sec">
                <a href="#" class="pop">
                    Popular
                </a>
                <a href="#">Arts &amp; culture</a>
                <a href="#">Outdoor</a>
                <a href="#">Mountains</a>
                <a href="#">Beach</a>
                <a href="#">Unique stays</a>
                <a href="#">Categories</a>
                <a href="#">
                    Things to do
                </a>
            </div>
            <div class="popular-sec-right">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="footer-box2">
        <div class="canmore-sec common">
            <h4>Canmore</h4>
            <span>Apartment rentals</span>
            <h4>Tucson</h4>
            <span>Rentals with pools</span>
            <h4>Anaheim</h4>
            <span>Flat rentals</span>
        </div>
        <div class="showmore-sec common">
            <h4>Benalmadena</h4>
            <span>Holiday rentals</span>
            <h4>Jasper</h4>
            <span>Holiday rentals</span>
            <h4>Monterey</h4>
            <span>Bungalow rentals</span>
        </div>
        <div class="showmores-sec common">
            <h4>Marbella</h4>
            <span>Flat rentals</span>
            <h4>Mountain views</h4>
            <span>Holiday rentals</span>
            <h4>Paso Robles</h4>
            <span>House rentals</span>
        </div>
        <div class="showmores-sec common">
            <h4>Mijas</h4>
            <span>House rentals</span>
            <h4>Devonport</h4>
            <span>Holiday rentals</span>
            <h4>Santa Barbara</h4>
            <span>Beachfront rentals</span>
        </div>
        <div class="showmores-sec common">
            <h4>Prescott</h4>
            <span>House rentals</span>
            <h4>Mallacoota</h4>
            <span>Holiday rentals</span>
            <h4>Sonoma</h4>
            <span>Cottage rentals</span>
        </div>
        <div
            class="showmores-sec common"
        >
            <h4>Scottsdale</h4>
            <span>Apartment rentals</span>
            <h4>Ibiza</h4>
            <span>Holiday rentals</span>
            <h4>Show more</h4>
            <span>More things</span>
        </div>
    </div>
    <div class="footer-box3">
        <div class="support box3-common">
            <h4>Support</h4>
            <ul>
                <li>Help center</li>
                <li>AirCover</li>
                <li>Anti-discrimination</li>
                <li>Disability support</li>
                <li>Cancellation options</li>
                <li>Report neighborhood concern</li>
            </ul>
        </div>
        <div class="hosting box3-common">
            <h4>Hosting</h4>
            <ul>
                <li>Airbnb your home</li>
                <li>AirCover for Hosts</li>
                <li>Hosting resources</li>
                <li>Community forum</li>
                <li>Hosting responsibly</li>
            </ul>
        </div>
        <div class="airbnb box3-common">
            <h4>Airbnb</h4>
            <ul>
                <li>Newsroom</li>
                <li>New features</li>
                <li>Careers</li>
                <li>Investors</li>
                <li>Airbnb.org emergency stays</li>
            </ul>
        </div>
    </div>
    <div class="footer-box4">
        <div class="footpannel1">
            <a href="">© 2023 Airbnb, Inc.</a>
            <a href="">Privacy</a>
            <a href="">Terms</a>
            <a href="">Sitemap</a>
            <a href="" id="company-opt">
                Company details
            </a>
        </div>
        <div class="footpannel2">
            <i class="fa-solid fa-globe"></i>
            <a href="">English (IN)</a>
            <a id="currency-opt" href="">
                Choose a currency
            </a>
            <a href="" id="rs-opt">
                ₹
            </a>
            <a href="" id="inr-part">
                INR
            </a>
            <a href="" id="inr-opt">
                <pre>₹ INR</pre>
            </a>
        </div>
        <div class="footpannel3">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
</footer>