<footer>
    <div class="footer-box1">
        <h2>Inspiration for your next adventure</h2>
        <div class="popular-sec">
            <div class="pop-sec">
                <a href="#" class="pop">Trending</a>
                <a href="#">Art &amp; Heritage</a>
                <a href="#">Nature Escapes</a>
                <a href="#">Hiking Trails</a>
                <a href="#">Coastal Getaways</a>
                <a href="#">Unique Experiences</a>
                <a href="#">Destinations</a>
                <a href="#">Activities</a>
            </div>
            <div class="popular-sec-right">
                <i class="fa-solid fa-chevron-right"></i>
            </div>
        </div>
    </div>
    <div class="footer-box2">
        <div class="canmore-sec common">
            <h4>Green Valley</h4>
            <span>Apartment stays</span>
            <h4>Sunset Point</h4>
            <span>Homes with pools</span>
            <h4>City Square</h4>
            <span>Flat rentals</span>
        </div>
        <div class="showmore-sec common">
            <h4>Blue Lagoon</h4>
            <span>Vacation rentals</span>
            <h4>Riverdale</h4>
            <span>Holiday cottages</span>
            <h4>Oakwood</h4>
            <span>Bungalow rentals</span>
        </div>
        <div class="showmores-sec common">
            <h4>Seaside Retreat</h4>
            <span>Flat rentals</span>
            <h4>Hilltop Views</h4>
            <span>Mountain stays</span>
            <h4>Sunny Meadows</h4>
            <span>House rentals</span>
        </div>
        <div class="showmores-sec common">
            <h4>Pine Grove</h4>
            <span>House rentals</span>
            <h4>Harbor Town</h4>
            <span>Holiday homes</span>
            <h4>Golden Sands</h4>
            <span>Beachfront stays</span>
        </div>
        <div class="showmores-sec common">
            <h4>Maple Village</h4>
            <span>Family stays</span>
            <h4>Cozy Corner</h4>
            <span>Holiday rentals</span>
            <h4>Rustic Charm</h4>
            <span>Cottage retreats</span>
        </div>
        <div class="showmores-sec common">
            <h4>Urban Hideaway</h4>
            <span>Apartment stays</span>
            <h4>Island Bliss</h4>
            <span>Vacation homes</span>
            <h4>Explore More</h4>
            <span>Exciting places</span>
        </div>
    </div>
    <div class="footer-box3">
        <div class="support box3-common">
            <h4>Support</h4>
            <ul>
                <li>Help center</li>
                <li>Travel coverage</li>
                <li>Anti-discrimination policy</li>
                <li>Accessibility support</li>
                <li>Flexible cancellations</li>
                <li>Report community concerns</li>
            </ul>
        </div>
        <div class="hosting box3-common">
            <h4>Hosting</h4>
            <ul>
                <li>Share your home</li>
                <li>Host protection</li>
                <li>Hosting resources</li>
                <li>Community forum</li>
                <li>Host responsibly</li>
            </ul>
        </div>
        <div class="airbnb box3-common">
            <h4>Our Platform</h4>
            <ul>
                <li>Press center</li>
                <li>New updates</li>
                <li>Join our team</li>
                <li>Investor relations</li>
                <li>Community support</li>
            </ul>
        </div>
    </div>
    <div class="footer-box4">
        <div class="footpannel1">
            <a href="">© 2024 Let's Explore, Inc.</a>
            <a href="">Privacy Policy</a>
            <a href="">Terms of Use</a>
            <a href="">Site Map</a>
            <a href="" id="company-opt">Company Info</a>
        </div>
        <div class="footpannel2">
            <i class="fa-solid fa-globe"></i>
            <a href="">English (IN)</a>
            <a id="currency-opt" href="">Choose a currency</a>
            <a href="" id="rs-opt">₹</a>
            <a href="" id="inr-part">INR</a>
            <a href="" id="inr-opt"><pre>₹ INR</pre></a>
        </div>
        <div class="footpannel3">
            <i class="fa-brands fa-square-facebook"></i>
            <i class="fa-brands fa-square-twitter"></i>
            <i class="fa-brands fa-square-instagram"></i>
        </div>
    </div>
</footer>
