<% layout('layouts/boilerplate') -%>
<div class="bg-gray-50">
<section class="relative md:h-screen h-[80vh] bg-cover  md:bg-cover lg:bg-cover bg-bottom md:bg-center" style="background-image: url('https://images.unsplash.com/photo-1682686578023-dc680e7a3aeb?q=80&w=1770&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');">
    <div class="absolute inset-0 bg-black opacity-[0.3]"></div>
    <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-white z-10 md:p-0 p-3">
        <h1 class="text-6xl font-extrabold mb-6">Travel Anywhere, Stay Everywhere</h1>
        <p class="text-xl max-w-2xl mb-8">Explore unique accommodations, experience the world differently, and connect with diverse cultures—all in one platform. Discover your next adventure with Airbnb.</p>
        <form action="/listings" method="get">
        <button class="bg-[#ff222d] hover:bg-[#ff2f52] text-white px-8 py-3 rounded-lg text-xl font-semibold">Get Started</button>
    </form>
    </div>
</section>

